*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

.feature {
  background-color: #cc18cc; }

.services {
  background-color: aqua; }

.testimonials {
  background-color: #44bb34; }

.header {
  background-color: rebeccapurple;
  height: 70vh; }

.navigation {
  background-color: #ff6347; }
