*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

.container {
  background-color: #1c2431; }

.container {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: white; }

.heading-1 {
  font-weight: 700;
  font-size: calc(1.6rem + 1.7vw); }
  .heading-1--main, .heading-1--sub {
    display: block; }

.heading-2 {
  font-weight: 700;
  font-size: calc(1.6rem + 1.4vw);
  line-height: 1.3; }
  .heading-2--main, .heading-2--sub {
    display: block; }

.heading-3 {
  font-size: 2.4rem;
  font-weight: 700; }

.heading-4 {
  font-size: 1.7rem;
  font-weight: 700; }

.paragraph {
  font-size: 1.5rem; }

.mt-esm {
  margin-top: 0.8rem; }

.mt-sm {
  margin-top: 1.8rem; }

.mt-md {
  margin-top: 3.5rem; }

.btn {
  cursor: pointer;
  background: none;
  border: none;
  display: inline-block;
  padding: 1.5rem 5rem;
  border-radius: 5rem;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  background: linear-gradient(to right, #65e2d9, #339ecc);
  transition: opacity 0.3s; }
  .btn:hover {
    opacity: 0.91; }
  .btn:focus {
    outline: none; }

.cta {
  position: relative;
  padding: 10rem 0;
  display: grid;
  place-items: center; }
  @media screen and (max-width: 47.4375em) {
    .cta {
      padding: 5rem 0 0 0; } }
  .cta__container {
    position: absolute;
    top: 15rem;
    border-radius: 5px;
    text-align: center;
    max-width: 70rem;
    padding: 5rem;
    width: 100%;
    background-color: #1c2431; }
    @media screen and (max-width: 47.4375em) {
      .cta__container {
        position: static;
        max-width: 50rem; } }
  .cta__form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
    @media screen and (max-width: 48em) {
      .cta__form {
        flex-flow: wrap column; } }
    .cta__form--email {
      width: 50%;
      padding: 1rem 3rem;
      border-radius: 5rem;
      border: none; }
      @media screen and (max-width: 47.4375em) {
        .cta__form--email {
          width: 70%; } }
      .cta__form--email:focus {
        outline: none; }

.feature {
  padding: 10rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
  align-items: center; }
  @media screen and (max-width: 47.4375em) {
    .feature {
      grid-template-columns: 1fr;
      padding: 5rem 0; } }
  .feature__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .feature--text {
    font-size: 1.8rem; }
  .feature__link {
    position: relative;
    text-decoration: none;
    padding-bottom: 0.5rem;
    color: white;
    display: flex;
    gap: 1rem;
    transition: color 0.3s; }
    .feature__link:hover {
      color: #339ecc; }
    .feature__link::before {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      width: 18rem;
      height: 0.1rem;
      background-color: white; }
    .feature__link span {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s; }
      @supports not (gap: 3rem) {
        .feature__link span {
          margin-left: 1rem; } }
  .feature__link:hover span {
    background-color: #339ecc; }
  .feature__icon {
    width: 2rem;
    height: 2rem;
    fill: #339ecc; }

.services {
  padding: 0 0 10rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  justify-content: center;
  gap: 7rem;
  text-align: center; }
  @media screen and (max-width: 47.4375em) {
    .services {
      padding: 0 0 5rem 0;
      gap: 5rem; } }
  .services__icon {
    width: 8rem;
    height: 8rem; }

.testimonials {
  padding: 10rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  justify-content: center;
  gap: 5rem; }
  @media screen and (max-width: 47.4375em) {
    .testimonials {
      padding: 5rem 0; } }
  .testimonials--img {
    position: absolute;
    top: -3rem;
    left: 1rem; }
    @media screen and (max-width: 47.4375em) {
      .testimonials--img {
        top: -4rem; } }
  .testimonials__container {
    position: relative;
    padding: 2rem;
    background-color: #202a3c;
    border-radius: 5px; }
    @media screen and (max-width: 59.9375em) {
      .testimonials__container-3 {
        transform: translateX(50%); } }
    @media screen and (max-width: 42.4375em) {
      .testimonials__container-3 {
        transform: translateX(0); } }
  .testimonials__person {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    grid-column-gap: 2rem; }
    .testimonials__person--item {
      width: 3rem;
      height: 3rem;
      grid-row: 1 / 3; }
    .testimonials__person--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%; }
    .testimonials__person-info {
      grid-column: 2 / 3; }

.footer {
  background-color: #0b1523;
  padding: 20rem 10rem 10rem; }
  @media screen and (max-width: 47.4375em) {
    .footer {
      padding: 5rem; } }
  .footer__information {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 5rem; }
  .footer--text {
    display: flex;
    align-items: flex-start;
    gap: 2rem; }
  .footer__icon {
    width: 4rem;
    height: 4rem;
    fill: currentColor; }
    @supports not (gap: 3rem) {
      .footer__icon {
        margin-right: 2rem; } }
  .footer__contact--link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 2rem; }
  .footer__contact--icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor; }
  .footer__nav--list {
    padding-bottom: 1.5rem; }
  .footer__nav--link {
    text-decoration: none; }
  .footer__social {
    display: flex;
    gap: 2rem; }
    .footer__social--link {
      text-decoration: none; }
    .footer__social--icon {
      width: 1.6rem;
      height: 1.6rem;
      fill: white;
      transition: fill 0.3s; }
    .footer__social span {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      box-shadow: 0 0 0 0.2rem white;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: box-shadow 0.3s; }
      .footer__social span:hover {
        box-shadow: 0 0 0 0.2rem #65e2d9; }
      @supports not (gap: 3rem) {
        .footer__social span {
          margin-right: 2rem; } }
  .footer__social--link:hover .footer__social--icon {
    fill: #65e2d9; }
  .footer__nav--link, .footer__contact--link {
    color: white;
    transition: color 0.3s; }
    .footer__nav--link:hover, .footer__contact--link:hover {
      color: #65e2d9; }

.header {
  padding: 3rem;
  background: url("../../images/bg-curvy-desktop.svg") no-repeat bottom center;
  background-size: contain;
  text-align: center;
  display: grid;
  place-items: center;
  place-content: center; }
  .header__bg--img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .header-text {
    font-size: 1.8rem;
    color: white;
    width: 50%; }
    @media screen and (max-width: 45em) {
      .header-text {
        width: 70%; } }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem; }
  @media screen and (max-width: 34em) {
    .navigation {
      padding: 2rem; } }
  .navigation__icon {
    width: 13rem;
    height: 5rem; }
    @media screen and (max-width: 34em) {
      .navigation__icon {
        width: 8rem;
        height: 5rem; } }
  .navigation__list {
    display: flex;
    align-items: center;
    gap: 3rem; }
    @supports not (gap: 3rem) {
      .navigation__list {
        margin-left: 3rem; } }
  .navigation__item--link {
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    transition: color 0.3s; }
    .navigation__item--link:hover {
      color: rgba(255, 255, 255, 0.8); }

main {
  padding: 10rem;
  background-color: #181f2a; }
  @media screen and (max-width: 36em) {
    main {
      padding: 5rem; } }

.attribution {
  font-size: 1.5rem;
  text-align: center; }

.attribution a {
  color: white;
  transition: color 0.3s; }
  .attribution a:hover {
    color: rgba(255, 255, 255, 0.8); }
