.footer {
  background-color: $dark-blue-footer;
  padding: 20rem 10rem 10rem;

  @media screen and (max-width: 47.4375em) {
    padding: 5rem;
  }

  &__information {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    justify-items: center;
    gap: 5rem;
  }

  &--text {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    fill: currentColor;

    @supports not (gap: 3rem) {
      & {
        margin-right: 2rem;
      }
    }
  }

  &__contact {
    &--link {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    &--icon {
      width: 2rem;
      height: 2rem;
      fill: currentColor;
    }
  }

  &__nav {
    &--list {
      padding-bottom: 1.5rem;
    }

    &--link {
      text-decoration: none;
    }
  }

  &__social {
    display: flex;
    gap: 2rem;

    &--link {
      text-decoration: none;
    }

    &--icon {
      width: 1.6rem;
      height: 1.6rem;
      fill: $white;
      transition: fill 0.3s;
    }

    span {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      box-shadow: 0 0 0 0.2rem $white;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: box-shadow 0.3s;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 0 0.2rem $cyan-cta;
      }

      @supports not (gap: 3rem) {
        & {
          margin-right: 2rem;
        }
      }
    }
  }

  &__social--link:hover &__social--icon {
    fill: $cyan-cta;
  }

  &__nav--link,
  &__contact--link {
    color: $white;
    transition: color 0.3s;

    &:hover {
      color: $cyan-cta;
    }
  }
}
