.footer {
  background-color: $dark-blue-footer;
  padding: 15rem 10rem 10rem;
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  grid-column-gap: 5rem;

  &__description {
    &--icon {
    }
  }

  &--text {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    fill: currentColor;

    @supports not (gap: 3rem) {
      & {
        margin-right: 2rem;
      }
    }
  }
}
