.header {
  position: relative;
  padding-bottom: 5rem;
  height: 100vh;
  background: url("../../images/illustration-intro.png"),
    url("../../images/bg-curvy-desktop.svg");
  background-size: 60rem auto, contain;
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom;
  text-align: center;
  display: grid;
  place-items: center;
  place-content: end center;

  @media screen and (max-width: 75em) {
    height: 80vh;
  }

  @media screen and (max-width: 30em) {
    background-size: 40rem auto, contain;
  }

  &-text {
    font-size: 1.8rem;
    color: $white;
    width: 50%;

    @media screen and (max-width: 45em) {
      width: 70%;
    }
  }
}
