.services {
  padding: 0 0 10rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  justify-content: center;
  gap: 7rem;
  text-align: center;

  @media screen and (max-width: 47.4375em) {
    padding: 0 0 5rem 0;
  }

  &__icon {
    width: 8rem;
    height: 8rem;
  }
}
