.services {
  padding: 0 0 10rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  justify-content: center;
  gap: 7rem;

  &__container {
  }

  &__icon {
    width: 8rem;
    height: 8rem;
  }
}
